
motors/\.settings/

motors/Release/

Main/Debug/

Main/Release/

Main/\.settings/

temp\.c

AIO/clock tree\.PNG

RemoteSystemsTempFiles

.metadata

AIO/\.settings/language\.settings\.xml

MTi_main/\.settings/language\.settings\.xml

RemoteSystemsTempFiles

MTi_main/Debug
